useDynLib(EigenH5,.registration=TRUE)
import(libblosc)
import(RcppEigen)
import(methods,Rcpp)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom(magrittr,"%>%")
importFrom(rlang,"!!")
